.wrapper {
	display: flex;
	margin-left: calc(var(--border-width) * 3);
	height: 100%;
}
.inner {
	// position: relative;
	height: 100%;
	width: 100%;
}

.inner .section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	// position: relative;
	// background-color: #1e1f26;
	text-align: center;
	padding: 0 2rem;
}
.inner h1,
.inner h3 {
	user-select: none;
	margin-left: 10rem;
}
.inner h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 8vw;
	margin: 0;
	letter-spacing: 0.5rem;
	color: #03dac6;
	transition: all 0.3s ease;
	z-index: 3;

	&:hover {
		transform: translate3d(0, -1rem, 2.2rem);
		color: #ff0266;
	}
}

.inner h2 {
	font-size: 2vw;
	letter-spacing: 0.3rem;
	font-family: 'ROBOTO', sans-serif;
	font-weight: 300;
	color: #faebd7;
	z-index: 4;
}
.inner span {
	font-size: 1.6vw;
	// letter-spacing: 0.2rem;
	font-family: 'ROBOTO', sans-serif;
	font-weight: 300;
	color: #faebd7;
	z-index: 4;
	margin-left: calc(var(--border-width) * 2);
	padding-bottom: 50px;
}
.inner span:hover {
	color: #ff0266;

	font-weight: 500;
	font-size: 2vw;
}
.m {
	color: #faebd7;
	text-shadow: 0 0 0 #faebd7;
	animation: loading 1s ease-in-out infinite alternate;
	@for $i from 1 through 22 {
		&:nth-of-type(#{$i}n) {
			animation-delay: #{$i * 0.1}s;
		}
	}
}

@keyframes loading {
	to {
		text-shadow: 20px 0 70px #ff0266;
		color: #ff0266;
	}
}

@media screen and (max-width: 1024px) {
	.inner h1 {
		font-size: 14rem;
		margin-left: 10rem;
	}
	.inner span {
		font-size: 3.2rem;
		&:hover {
			font-size: 4rem;
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.inner h1 {
		font-size: 11rem;
		margin-left: 10rem;
	}
	.inner span {
		font-size: 2.2rem;
		&:hover {
			font-size: 3rem;
		}
	}
}

@media screen and (min-width: 375px) and (max-width: 767px) {
	.wrapper {
		margin-left: 0;
		margin-top: -6vh;
		margin-bottom: 6vh;
	}

	.inner h1 {
		font-size: 8rem;
		margin-left: 0;
		line-height: 11rem;
	}
	.inner h3 {
		margin-left: 0;
	}
	.inner span {
		font-size: 2.5rem;
		pointer-events: none;
		margin-left: 0;
	}
}

@media screen and (max-width: 374px) {
	.wrapper {
		margin-left: 0;
		margin-top: -7vh;
		margin-bottom: 7vh;
	}

	.inner h1 {
		font-size: 5rem;
		margin-left: 0;
		line-height: 8rem;
		pointer-events: none;
	}
	.inner h3 {
		margin-left: 0;
	}
	.inner span {
		font-size: 2rem;
		line-height: 1rem;
		pointer-events: none;
		margin-left: 0;
	}
}
