.wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: calc(var(--nav-width));
	height: 100%;
	background-color: var(--bg-color);
	box-shadow: var(--border-width) 0px calc(var(--border-width) * 1.5)
		calc(var(--border-width) / 6) rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	color: var(--text-color);
	z-index: 2;
}
.nav-side {
	display: grid;
	grid-template-rows: 60% 25% 15%;
	width: 100%;
	height: 100%;
	align-items: flex-end;
}

.logo {
	display: flex;
	position: absolute;
	top: 0;
	width: 100%;
	&:hover {
		cursor: pointer;
	}
}

.logo svg {
	width: 100%;
	height: auto;
}

.nav-mobile {
	position: fixed;
	height: 60px;
	width: 95%;
	padding: 3px;
	bottom: 2%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
	background-color: rgba(var(--bg-color-blue-rgb), 0.4);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	border-radius: 40px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.nav-btn {
	position: absolute;
}

@media screen and (max-width: 1024px) {
	.wrapper {
		width: calc(var(--nav-width) - 5rem);
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.wrapper {
		width: calc(var(--nav-width) - 7rem);
	}
}
